:root{
  --primary: #1C4587;
  --secondary: #CFE2F3;
}

main{
  margin:auto;
}

body{
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}
img{
  height: 150px;
  width: 120px;
}
header{
text-align: center;
color: ghostwhite;
background-color: var(--primary);
border: 2px solid black;
}

footer{
background-color:var(--primary);
border: 2px solid black;
position: absolute;
bottom: 0;
height: 100px;
width: 100%;
}

p, h3{
  margin: auto
}

section{
  display: inline-block;
  width: 40%;
}
article{
font-size: larger;
}
aside{
text-align: left;
}

.highlight{
border-top: 20px solid var(--secondary);
padding-top: 1rem;
margin-top: 1em;
}

.text-center{
text-align: center;
}
.text-left{
text-align: left;
}
.text-spacer{
width: 90%;
}




